header {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.game-title {
    font-size: 96px;
}

.score-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 24px;
}

.score, .high-score {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 4px 12px;
}