.game-state {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    display: none;
    z-index: 1;

    text-align: center;
    font: bold 96px sans-serif;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
}