body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Calibri, serif;
    color: #2E2E2E;
}

header {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.game-title {
    font-size: 96px;
}

.score-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0;
}

.score, .high-score {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 4px 12px;
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

img {
    background-color: #2E2E2E;
    padding: 6px;
    border-radius: 15px;
}

table {
    border: #2E2E2E solid 1px;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    padding: 4px;
}

td {
    border-radius: 15px;
    background-color: #ECECEC;
    font-size: 28px;
    text-align: center;
    height: 25%;
    width: 25%;
}

.game-state {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    display: none;
    z-index: 1;

    text-align: center;
    font: bold 96px sans-serif;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
}